@import url('https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap');

body {
    /* font-family: 'Roboto', sans-serif; */
    font-family: 'Inter', sans-serif;
    font-style: normal
}

.main {
    padding: 10vh 20vw 0 20vw;
}

.name {
    font-size: 40px;
    padding: 30px 0 10px 0;
    font-weight: 900;

}

.designation {
    font-size: 20px;
    padding-bottom: 10px;

}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.text-justify {
    text-align: justify
}

.font-mono {
    font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
}

.muted {
    color: hsl(220 8.9% 46.1%);

}

.links a i {
    color: rgb(116, 123, 136);
    border: 1px solid rgb(223, 226, 230);

    font-size: 22px;
    border-radius: 20%;
    height: 24px;
    width: 24px;
    padding: 6px;

    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    padding-bottom: 10px;
}

.main p {
    font-size: 1.1rem;
    padding-bottom: 10px;
    margin: 0;
}

.main h2 {
    font-size: 1.7rem;
    margin-bottom: 10px;
}

.main a {
    font-size: 1.5rem;
    padding: 10px;
}

.main .links a i:hover {
    cursor: pointer;
    transition: 350ms;
    color: rgb(85, 90, 97);
    background-color: rgb(236, 238, 243)
}


@media(max-width:780px) {
    .main {
        grid-template-columns: 1fr;
        padding: 0;
        padding: 1.5rem;
    }
}
